<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reidchend.lycoris">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:label="Lycoris Control"
        android:icon="@mipmap/ic_launcher">
    </application>
</manifest>